.container {
    padding: 0;
}

a.pointer:hover {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.btn-info {
    background: var(--blue);
}

/**********************/

.header {
    position: relative;
    border-bottom: 1px solid #BFBFBF;
}

.header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-top: 1px solid #2A94A2;
    background: #24A9BB;
    border-bottom: 1px solid #3F5A5E;
}

.navbar-brand {
    font-size: 36px;
    line-height: 27px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand > span {
    color: #2AC4EA;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active > .nav-link {
    color: var(--dark);
}

/**********************/

.action-bar .with-triangle-right {
    position: relative;
}

.action-bar .with-triangle-right:after {
    content: "";
    position: absolute;
    right: -24px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 0 24px 24px;
    border-color: transparent transparent transparent var(--dark);
}

/**********************/

#carouselFeatures .box {
    background: #fff;
    width: 250px;
    padding: 13px 20px 23px;
    border: 1px solid #D0D0D0;
    border-radius: 1em;
    font-size: 14px;
    margin-bottom: 2em;
}

#carouselFeatures .box p {
    max-height: 60px;
    overflow-y: hidden;
}

#carouselFeatures .box:not(:last-child) {
    margin-right: 55px;
}

#carouselFeatures .box img {
    margin-bottom: 20px;
}

#carouselFeatures .carousel-control-next, #carouselFeatures .carousel-control-prev {
    width: auto;
    opacity: 1;
}

#carouselFeatures .carousel-control-next > div, #carouselFeatures .carousel-control-prev > div {
    background: #000; 
    color: #fff; 
    height: 4em;
    padding: 0 .4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

#carouselWorks [role="button"], #carouselWorks [role="button"] {
    background: #000; 
    color: #fff; 
    padding: 0 1em;
    cursor: pointer;
}

/**********************/

.recent-works {
    position: relative;
    background: url(../images/recent-works-bg.png) center center / cover no-repeat;
}

.recent-works > div {
    position: relative;
    z-index: 1;
}

.recent-works:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(248, 248, 248, .5);
    z-index: 0;
}

/**********************/

.slider [role="button"] {
    cursor: pointer;
}

.slider-inner {
    display: flex;
    overflow-x: hidden;
}

#sliderWorks .slider-item {
    width: 260px;
    height: 240px;
    margin-right: 50px;
    background: #fff;
    border: 1px solid #D5D5D5;
}

#sliderWorks .slider-item > div:first-child {
    max-height: 165px;
    overflow-y: hidden;
}

#sliderWorks .slider-item > div:nth-child(2) {
    font-size: 14px;
    color: var(--news-color);
    padding: 20px 0 10px;
}

/**********************/

.partners {
    position: relative;
    background: url(../images/partners-bg.png) center -255px / cover no-repeat; 
    padding: 55px 0 60px;
    color: #fff;
}

.partners > div {
    position: relative;
    z-index: 1;
}

.partners:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 0;
}

.partners:before {
    content: "“";
    position: absolute;
    width: 90px;
    height: 90px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    background: #5B5B5B;
    z-index: 2;
    font-size: 9em;
    text-align: center;
    line-height: 1em;
}

.partners-galery > div {
    max-height: 90px;
}

/**********************/

.latest-blog, .recent-testimonials {
   font-size: 24px;
   color: var(--dark);
 }

.latest-blog > h5, .recent-testimonials > h5 {
    font-weight: 600;
    margin-bottom: 20px;
}

.latest-blog > hr, .recent-testimonials > hr {
    height: 3px; 
    margin-bottom: 20px;
}

.latest-blog-items, .recent-testimonials-items {
    background: var(--news-background);
}

.latest-blog-item, .recent-testimonials-item {
    border: 1px solid var(--borders);
    display: flex;
    padding: 30px 0;
}

.latest-blog-item > div {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.latest-blog-item > div:first-child {
   border-right: 1px solid var(--borders);
}

.latest-blog-item-calendar {
    width: 3em;
    text-align: center;
    border: 1px solid var(--borders);
}

.latest-blog-item-calendar > div:first-child {
    background: #fff;
    font-weight: 600;
}

.latest-blog-item-calendar > div:nth-child(2) {
    background: #29C0D4;
    color: #fff;
    font-weight: 600;
}

.latest-blog-item > div:nth-child(2), .recent-testimonials-item > div:nth-child(2) {
    flex-grow: 1;
}

.latest-blog-item > div:nth-child(2) h5 {
    font-size: inherited;
    font-weight: 600;
    margin-bottom: 12px;
}

.latest-blog-item > div:nth-child(2) span {
    color: var(--news-color);
    font-size: 14px;
}

.latest-blog-item > div:nth-child(3) {
    margin: auto;
}

.recent-testimonials-item > div:not(:nth-child(2)) {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.recent-testimonials-item > div:nth-child(2) > div {
    padding: 0 30px;
}

.recent-testimonials-item > div:nth-child(2) > div:first-child {
    border-left: 1px solid var(--borders);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.recent-testimonials-photo {
    padding: 5px;
    border: 1px solid var(--borders);
    background: #fff;
}

.recent-testimonials-photo img {
    width: 112px;
    height: 122px;
}

.recent-testimonials-item h5 {
    font-size: 18px;
    margin-bottom: 8px;
}

.recent-testimonials-item span {
    color: #29C0D4;
    font-size: 14px;
}

.recent-testimonials-item p {
    color: var(--news-color);
    font-size: 14px;
}

/**********************/

.contact > div:nth-child(2) .contact-item {
    position: relative;
}

.contact > div:nth-child(2) .contact-item:after {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent var(--dark) transparent;
}

/**********************/

.contact .with-right-border:not(:last-child) {
    border-right: 1px solid #535353;
}

.flickr img {
    margin-right: 22px;
    margin-bottom: 15px;
}